@using RS1_Ispit_asp.net_core.ViewModels
@model MaturskiIspitDodajVM
@{
    ViewData["Title"] = "Dodaj";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dodaj</h2>

<form action="/OdrzanaNastava/Snimi">
    <div class="form-group">
        <label>Skola</label>
        <select asp-for="OdabranaSkola" asp-items="@Model.Skole" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Nastavnik</label>
        <input asp-for="Nastavnik" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Skolska godina</label>
        <input asp-for="SkolskaGodina" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Datum ispita</label>
        <input asp-for="DatumIspita" class="form-control" />
    </div>
    <input asp-for="NastavnikId" hidden />
    <div class="form-group">
        <label>Predmet</label>
        <select asp-for="OdabraniPredmet" asp-items="@Model.Predmet" class="form-control"></select>
    </div>
    <button type="submit" class="btn btn-danger">Snimi</button>

</form>